@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1023px) {
    .statistics {
		right: 5%;
	}

    .score {
		top: 27.5%;
	}

	.moves {
		top: 49.5%;
	}

	.timer {
		top: 71.5%;
	}
}
  
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}
    
@media screen and (max-width: 480px) {

}
    
@media screen and (max-width: 320px) {

}