body {
	background-color: var(--bg-page);
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-board {
	display: grid;
	grid-template-columns: repeat(var(--grid-size), var(--cell-size));
	grid-template-rows: repeat(var(--grid-size), var(--cell-size));
	gap: var(--cell-gap);
	padding:  var(--cell-gap);
	border-radius: var(--border-radius);
	background-color: var(--bg-board);
	position: relative;
}

.cell {
	background-color: var(--bg-cell);
	border-radius: var(--border-radius);
}

.tile {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--font-size-cell);
	font-weight: 700;
	width: var(--cell-size);
	height: var(--cell-size);
	background-color:red;
	border-radius: var(--border-radius);
	top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
	left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
	background-color: hsl(var(--hsl-color), 50%, var(--bg-lightness));
	color: hsl(var(--hsl-color), 25%, var(--text-lightness));
	animation: show 200ms ease-in-out;
	transition: 100ms ease-in-out;
}

.modal {
	position: fixed;
	width: 90vmin;
	height: 90vmin;
	background-color: var(--bg-board);
	z-index: 2;
	border-radius: var(--border-radius);
}

.modal_active {
	display: none;
}

	.content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
	}

	.content_active {
		display: none;
	}

		.modal__h1 {
			margin-top: var(--m-t);
			font-size: 9vmin;
			color: var(--text-color);
		}

		.modal__btns {
			margin-top: var(--m-t);
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 2vmin;
		}

			.modal__btn {
				height: 14vmin;
				width: 40vmin;
				background-color: var(--bg-cell);
				border-radius: calc(var(--border-radius));
				font-size: var(--font-size-btn);
				font-weight: 700;
				color: var(--text-color);
				transition: 200ms ease-in-out;
			}

			.btn:hover, 
			.btn:active {
				background-color:hsl(var(--hsl-color), 50%, 90%);
				transition: 200ms ease-in-out;
			}
		
		.modal__how {
			margin-top: var(--m-t);
			font-size: 5vmin;
			color: var(--text-color);
		}

		.modal__descr {
			margin-top: var(--m-t);
			display: flex;
			font-size: 4vmin;
			text-align: center;
			color: var(--bg-page);
			max-width: 80vmin;
		}

		.hamburger {
			z-index: 3;
			position: fixed;
			top: 5%;
			right: 5%;
			margin: 1%;
			width: var(--hamburger-size);
			height: var(--hamburger-size);
			background-color: var(--bg-cell);
			border-radius: var(--border-radius);
			transition: 200ms ease-in-out;
		}

			.hamburger__wrap {
				display: grid;
				grid-template: 1fr 1fr 1fr / 1fr;
				gap: calc(var(--hamburger-line-width) / 5);
				justify-items: center;
				align-items: center;
			}

			.hamburger__wrap_active .hamburger__line:nth-child(1) {
				transform: translateY(1.55vmin) rotate(45deg);
			}
			.hamburger__wrap_active .hamburger__line:nth-child(2) {
				display: none;
			}
			.hamburger__wrap_active .hamburger__line:nth-child(3) {
				transform: rotate(-45deg);
				
			}

				.hamburger__line { 
					height: calc(var(--hamburger-line-width) / 8);
					width: var(--hamburger-line-width);
					background-color: var(--bg-page);
					border-radius: calc(var(--hamburger-line-width) / 8);
					transition: 100ms ease-in-out;
				}

.leaderboard {
	position: fixed;
	align-items: center;
	left: -100%;
	width: 50vmin;
	height: 90vmin;
	background-color: var(--bg-board);
	z-index: 2;
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	transition: 200ms ease-in-out;
}

.leaderboard_active {
	left: 0;
}

	.leaderboard__wrap {
		display: flex;
		justify-content: center;
	}

	.leaderboard__title {
		margin-top: var(--m-t);
		font-size: 4vmin;
		color: var(--text-color);
	}

.btn-leaderboard {
	z-index: 3;
	position: fixed;
	top: 17%;
	right: 5%;
	margin: 1%;
	width: var(--hamburger-size);
	height: var(--hamburger-size);
	background-color: var(--bg-cell);
	border-radius: var(--border-radius);
	transition: 200ms ease-in-out;
}

	.btn-leaderboard::after {
		content: '';
		position: absolute;
    	width: 100%;
		left: 0;
		top: 0;
    	padding-top: 100%;
		background: url('../icons/star.svg') center center/70% no-repeat;
	}

	.score {
		z-index: 3;
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 4vmin;
		font-weight: 700;
		top: 5%;
		right: 12.5%;
		margin: 1%;
		text-align: center;
		padding: 5%;
		width: 20vmin;
		height: 20vmin;
		background-color: var(--bg-cell);
		border-radius: var(--border-radius);
		transition: 200ms ease-in-out;
		animation: show 100ms ease-in-out;
	}

	.moves {
		z-index: 3;
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 4vmin;
		font-weight: 700;
		top: 27%;
		right: 12.5%;
		margin: 1%;
		text-align: center;
		padding: 5%;
		width: 20vmin;
		height: 20vmin;
		background-color: var(--bg-cell);
		border-radius: var(--border-radius);
		transition: 200ms ease-in-out;
		animation: show 100ms ease-in-out;
	}