:root {
    --text-color: black;
    --bg-page: #333;
    --bg-board: #CCC;
    --bg-cell: #AAA;
    --hsl-color: 100;
    --border-radius: 1vmin;
    --padding: 5vmin;
    --m-t: 4vmin;
    --font-size-btn: 5vmin;
    --hamburger-size: 8vmin;
    --hamburger-line-width: 5vmin;
}